<meta charset="utf-8">
<title>{{.Title | default site.Title}}</title>

{{ with .Params.robotsdisallow }}<meta name="robots" content="noindex, nofollow, noarchive">{{ end }}

<!-- responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

<!-- RSS Feed -->
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- favicon -->
{{ partialCached "favicon" . }}

<!-- manifest -->
{{ partialCached "manifest" . }}

<!-- site verifications -->
{{ partialCached "site-verifications.html" . }}

<!-- opengraph and twitter card -->
{{ partial "basic-seo.html" . }}

<!-- google analytics -->
{{ template "_internal/google_analytics.html" . }}

<!-- google tag manager -->
{{ partialCached "gtm.html" . }}

<!-- matomo analytics -->
{{ partialCached "matomo-analytics.html" . }}

<!--  Baidu analytics -->
{{ partialCached "baidu-analytics.html" . }}

<!-- Plausible Analytics -->
{{ partialCached "plausible-analytics.html" . }}

<!-- Counter Analytics -->
{{ partialCached "counter-analytics.html" . }}

<!-- Structured Data json-ld  -->
{{ partial "schema.html" . }}

<!-- Accessibility Code for "autism-101.com" --> 
<script> window.interdeal = { "sitekey": "db274f2f56136f34378e614fe8798020", "Position": "Right", "Menulang": "EN", "domains": { "js": "https://cdn.equalweb.com/", "acc": "https://access.equalweb.com/" }, "btnStyle": { "vPosition": [ "80%", null ], "scale": [ "0.8", "0.8" ], "color": { "main": "#af610e" }, "icon": { "type": 7, "shape": "semicircle", "outline": false } } }; 
        (function(doc, head, body){ var coreCall = doc.createElement('script'); 
	coreCall.src = 'https://cdn.equalweb.com/core/4.4.1/accessibility.js'; 
	coreCall.defer = true; coreCall.integrity = 'sha512-tq2wb4PBHqpUqBTfTG32Sl7oexERId9xGHX2O3yF91IYLII2OwM1gJVBXGbEPaLmfSQrIE+uAOzNOuEUZHHM+g=='; 
	coreCall.crossOrigin = 'anonymous'; 
	coreCall.setAttribute('data-cfasync', true ); 
	body? body.appendChild(coreCall) : head.appendChild(coreCall); })(document, document.head, document.body); 
</script>
