.mt-6 {margin-top: 2.8rem!important;}
a.uparrow {text-decoration: none;}
.external {
background-image: url(/images/arrow-link2.svg);
background-position: center right;
background-repeat: no-repeat;
background-size: 0.857em;
padding-right: 1em;	
}
a.external {text-decoration: none;}

body.dark ol.references li a.external:hover {text-decoration: underline; color: #ffffff;}


body.dark ol.references li:target, sup.reference:target {
  background-color: #ae610e;
}

ol.references li:target, sup.reference:target {
  background-color: transparent;
}

body.dark .content sup.reference a:hover {color: #ffffff;}

body.dark .content table {
  background-color: #fff;
}

body.dark .content thead {
  background: #a55e20;
  color: #fff;
}

body.dark .content .table-striped > tbody > tr:nth-child(odd) > td,
body.dark .content .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fbf5c2;
}

body.dark .content .table-striped > tbody > tr:nth-child(even) > td,
body.dark .content .table-striped > tbody > tr:nth-child(even) > th {
  background-color: #fff;
}

table.table.table-striped tr > td:first-child {
  width:20%;
}

// body.dark .content sup.reference  {
//   color: #000;
// }

// body.dark .table, sup.reference:target {
//   background-color: #fbf5c2;
// }

body.dark .content .table a {
  color: #000;
}

body.dark .content sup.reference a:hover {
  color: #ae610e;
}

// body.dark sup.reference:target {
//   background-color: #ae610e;
// }